<template>
  <div class="row">
    <p class="col-md-1">
      {{ entry["Search"].split("#")[1] }}
    </p>
    <p class="col-md-10">
      <a
        v-bind:href="
          ('https://www.ncbi.nlm.nih.gov/pubmed?term=' + entry['Query'])
            | cleanSearchLink
        "
      >
        {{ entry["Query"] | cleanSearch }}
      </a>
    </p>
    <p class="col-md-1">
      {{ entry["Items found"] }}
    </p>
  </div>
</template>

<script>
export default {
  name: "ListItem",
  props: ["entry"],
  filters: {
    cleanSearch: function(value) {
      if (!value) return "";
      value = value.toString();
      return value.split('"')[2].replace("Search ", "");
    },
    cleanSearchLink: function(value) {
      if (!value) return "";
      value = value.toString();
      let splittedValue = value.split('"');
      return splittedValue[0] + splittedValue[2].replace("Search ", "");
    }
  }
};
</script>
