<template>
  <div class="row">
    
    <p class="col-md-1">
        Nummer 
    </p>
    <p class="col-md-10">
    Suchterm
    </p>
     <p class="col-md-1">
         Anzahl der Ergebnisse
    </p>
   
  </div>
</template>

<script>

export default {
  name: "ListHeader"
 
};
</script>

