<template>
  <div>
   Suchverlauf-Datei hochladen: <input type="file" v-on:change="readFile" />
  </div>
</template>

<script>
export default {
  name: "LoadFile",
  methods: {
    readFile: function(e) {
      let that = this;
      let file = e.target.files[0];
      console.log(file.name);

      let reader = new FileReader();

      reader.onload = function(e) {
        let data = that.csvJSON(e.target.result);
        //console.log(data);
        that.$emit('data-loaded', data)
      };
      reader.readAsText(file);
    },

    csvJSON: function(csv) {
      var lines = csv.split("\n");
      var result = [];
      var headers = lines[0].split(",");
      for (var i = 1; i < lines.length; i++) {
        var obj = {};
        var currentline = lines[i].split(",");

        for (var j = 0; j < headers.length; j++) {
          obj[headers[j]] = currentline[j];
        }
        result.push(obj);
      }

      return JSON.stringify(result); //JSON
    }
  }
};
</script>
