<template>
  <div v-if="searchHistory.length > 0">
    <ListHeader />
    <hr style="border-top: 2px solid rgba(0,0,0,.5);" />

    <div v-bind:key="entry['Search']" v-for="entry in searchHistory">
      <ListItem v-bind:entry="entry" />
      <hr />
    </div>
  </div>
</template>

<script>
import ListItem from "./ListItem";
import ListHeader from "./ListHeader";

export default {
  name: "ShowList",
  components: {
    ListItem,
    ListHeader
  },
  props: ["search-history"]
};
</script>
