<template>
  <div id="app" class="container">
    <h1>Pubmed Suchübersicht</h1>
    <LoadFile v-on:data-loaded="loaded" />
    <hr/>
    <ShowList v-bind:search-history="data" />
   
  </div>
</template>

<script>
import ShowList from "./components/ShowList";
import LoadFile from "./components/LoadFile";

export default {
  name: "App",
  components: {
    ShowList,
    LoadFile
  },
  data: () => {
    return {
      data: []
    };
  },

  methods: {
    loaded: function(data) {
      this.data = JSON.parse(data);
      console.log(this.data)
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
